---
const today = new Date();
---
<footer>
    This is older blog, For original blog please visit <a href="https://www.siravij.com">Siravij.com</a>
    <br>
    &copy; 2020 Siravij Praevisavakij. All rights reserved.
</footer>
<style>
    footer {
        padding: 25px;
        text-align: center;
    }
</style>