<header>
  <a href="https://siravijbb.me" class="mx-auto 2xl:text-5xl font-semibold hover:cursor-pointer lg:ml-10 lg:mr-0 lg:text-3xl text-3xl text-main w-fit whitespace-nowrap z-50" id="Logo">Siravij</a>
  <nav>
    <a href="/blog">Home</a>
    <a href="/blog">Blog</a>
  </nav>
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Beta is available now click <a href="beta.siravijbb.me">here</a>
  </div>
  <div class="alert2">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  This is older blog, For original blog please visit <a href="https://www.siravij.com">Siravij.com
  </div>
</header>
<style>
  header {
    margin: 2em 4em 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>

